[submodule "src/code.cloudfoundry.org/log-cache"]
	path = src/code.cloudfoundry.org/log-cache
	url = https://github.com/cloudfoundry-incubator/log-cache
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/code.cloudfoundry.org/go-envstruct"]
	path = src/code.cloudfoundry.org/go-envstruct
	url = https://github.com/cloudfoundry/go-envstruct
[submodule "src/code.cloudfoundry.org/go-loggregator"]
	path = src/code.cloudfoundry.org/go-loggregator
	url = https://github.com/cloudfoundry/go-loggregator
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "src/github.com/emirpasic/gods"]
	path = src/github.com/emirpasic/gods
	url = https://github.com/emirpasic/gods
[submodule "src/code.cloudfoundry.org/loggregator-api"]
	path = src/code.cloudfoundry.org/loggregator-api
	url = https://github.com/cloudfoundry/loggregator-api
[submodule "src/github.com/golang/glog"]
	path = src/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "src/github.com/grpc-ecosystem/grpc-gateway"]
	path = src/github.com/grpc-ecosystem/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway
[submodule "src/code.cloudfoundry.org/go-log-cache"]
	path = src/code.cloudfoundry.org/go-log-cache
	url = https://github.com/cloudfoundry-incubator/go-log-cache
[submodule "src/code.cloudfoundry.org/go-diodes"]
	path = src/code.cloudfoundry.org/go-diodes
	url = https://github.com/cloudfoundry/go-diodes
[submodule "src/code.cloudfoundry.org/go-batching"]
	path = src/code.cloudfoundry.org/go-batching
	url = https://github.com/cloudfoundry/go-batching
[submodule "src/code.cloudfoundry.org/go-pubsub"]
	path = src/code.cloudfoundry.org/go-pubsub
	url = https://github.com/cloudfoundry/go-pubsub
[submodule "src/code.cloudfoundry.org/go-stream-aggregator"]
	path = src/code.cloudfoundry.org/go-stream-aggregator
	url = https://github.com/cloudfoundry-incubator/go-stream-aggregator
[submodule "src/code.cloudfoundry.org/go-orchestrator"]
	path = src/code.cloudfoundry.org/go-orchestrator
	url = https://github.com/cloudfoundry-incubator/go-orchestrator.git
