[submodule "src/code.cloudfoundry.org/log-cache"]
	path = src/code.cloudfoundry.org/log-cache
	url = https://github.com/cloudfoundry/log-cache
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/code.cloudfoundry.org/go-envstruct"]
	path = src/code.cloudfoundry.org/go-envstruct
	url = https://github.com/cloudfoundry/go-envstruct
[submodule "src/code.cloudfoundry.org/go-loggregator"]
	path = src/code.cloudfoundry.org/go-loggregator
	url = https://github.com/cloudfoundry/go-loggregator
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "src/github.com/emirpasic/gods"]
	path = src/github.com/emirpasic/gods
	url = https://github.com/emirpasic/gods
[submodule "src/code.cloudfoundry.org/loggregator-api"]
	path = src/code.cloudfoundry.org/loggregator-api
	url = https://github.com/cloudfoundry/loggregator-api
[submodule "src/github.com/golang/glog"]
	path = src/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "src/github.com/grpc-ecosystem/grpc-gateway"]
	path = src/github.com/grpc-ecosystem/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway
[submodule "src/code.cloudfoundry.org/go-diodes"]
	path = src/code.cloudfoundry.org/go-diodes
	url = https://github.com/cloudfoundry/go-diodes
[submodule "src/code.cloudfoundry.org/go-batching"]
	path = src/code.cloudfoundry.org/go-batching
	url = https://github.com/cloudfoundry/go-batching
[submodule "src/code.cloudfoundry.org/go-pubsub"]
	path = src/code.cloudfoundry.org/go-pubsub
	url = https://github.com/cloudfoundry/go-pubsub
[submodule "src/code.cloudfoundry.org/go-stream-aggregator"]
	path = src/code.cloudfoundry.org/go-stream-aggregator
	url = https://github.com/cloudfoundry-incubator/go-stream-aggregator
[submodule "src/code.cloudfoundry.org/go-orchestrator"]
	path = src/code.cloudfoundry.org/go-orchestrator
	url = https://github.com/cloudfoundry-incubator/go-orchestrator.git
[submodule "src/github.com/gorilla/mux"]
	path = src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "src/github.com/cloudfoundry/gosigar"]
	path = src/github.com/cloudfoundry/gosigar
	url = https://github.com/cloudfoundry/gosigar
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
[submodule "src/github.com/zorkian/go-datadog-api"]
	path = src/github.com/zorkian/go-datadog-api
	url = https://github.com/zorkian/go-datadog-api
[submodule "src/code.cloudfoundry.org/rfc5424"]
	path = src/code.cloudfoundry.org/rfc5424
	url = https://github.com/cloudfoundry-incubator/rfc5424
[submodule "src/github.com/blang/semver"]
	path = src/github.com/blang/semver
	url = https://github.com/blang/semver
[submodule "src/github.com/prometheus/prometheus"]
	path = src/github.com/prometheus/prometheus
	url = https://github.com/prometheus/prometheus.git
[submodule "src/github.com/Benjamintf1/unmarshalledmatchers"]
	path = src/github.com/Benjamintf1/unmarshalledmatchers
	url = https://github.com/Benjamintf1/unmarshalledmatchers
[submodule "src/github.com/prometheus/common"]
	path = src/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "src/golang.org/x/time"]
	path = src/golang.org/x/time
	url = https://github.com/golang/time
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://github.com/golang/sys
[submodule "src/github.com/ghodss/yaml"]
	path = src/github.com/ghodss/yaml
	url = https://github.com/ghodss/yaml
[submodule "src/code.cloudfoundry.org/tlsconfig"]
	path = src/code.cloudfoundry.org/tlsconfig
	url = https://github.com/cloudfoundry/tlsconfig
[submodule "src/github.com/square/certstrap"]
	path = src/github.com/square/certstrap
	url = https://github.com/square/certstrap
